.CTA-MC-TransactionFee {
  display: flex;
  background-color: white;
  max-width: 70vw;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
}

.CTA-MC-TransactionFee p:nth-child(1){
  font-weight: 700;
}

.CTA-MC-TransactionFee p:nth-child(2){
  color:#555555;
}

.CTA-MC-Link {
  color: #286EF1;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 60px;
}

.CTA-MC-Link svg {
  fill: #286EF1;
}
