.CTA-MC-Subtitle {
  font-size: 15px;
  color: hsl(0, 0%, 85.3%);
  line-height: 30px;
  max-width: 50vw;
  width: 520px;
}

.CTA-MC-TransactionFee {
  display: flex;
  background-color: hsl(218.5, 79.2%, 66.1%);
  max-width: 40vw;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.CTA-MC-Link {
  color: hsl(218.5, 79.2%, 26.1%);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 60px;
}

.CTA-MC-Link svg {
  fill: hsl(218.5, 79.2%, 26.1%);
}
