.H-InsideMainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.H-InsideMainContent-Left {
  font-weight: 700;
}

@media screen and (max-width: 390px) {
  .H-InsideMainContent {
    flex-direction: column;
  }
  
}
