.ISC_Header {
  margin-top: 24.98px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
}

.ISC_Header a {
  text-decoration: none;
  color: #555555;
  font-weight: 700;
}

.ISC_Header > a:nth-child(1) {
  flex-grow: 1;
  padding-right: 16px;
  border-right: 1px #555555 solid;
}

.ISC_Header ul {
  margin-left: 15px;
  display: flex;
  align-items: center;
  padding: 0px;
  flex-grow: 5;
}

.ISC_Header ul li {
  text-decoration: none;
  list-style: none;
}

.ISC_Header ul li svg,
.ISC_Header > a:nth-child(3) > svg {
  fill: #707070;
  margin-right: 5px;
}

.ISC_Header ul li {
  margin-right: 25px;
  cursor: pointer;
  border-bottom: 1px transparent solid;
}

.ISC_Header > a:nth-child(1):hover,
.ISC_Header ul li:hover,
.ISC_Header > a:nth-child(3):hover {
  text-decoration: underline;
}

@media screen and (max-width: 940px) {
  .ISC_Header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .ISC_Header > :nth-child(1),
  .ISC_Header > :nth-child(2) {
    /* outline: crimson 1px solid; */
    margin-bottom: 5px;
  }

  .ISC_Header > a:nth-child(1) {
    border: 0;
    /* outline: 1px black solid; */
    border-bottom: 1px #555555 solid;
    width: 100%;
    padding: 0;
  }

  .ISC_Header > ul {
    border-right: 0;
    /* border-top: 1px #555555 solid;; */
  }

  .ISC_Header a:nth-child() {
    border-bottom: 1px #555555 solid;
  }
}

@media screen and (max-width: 327px) {
  .ISC_Header > :nth-child(2) {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #555555 solid;
  }
}
