.LTST-WrapperWithLogo{
  margin: 80px 25px 20px 25px;
}

.LTST-WrapperWithoutLogo{
  margin: 47px 25px 20px 25px;
}

.LTST-Circle {
  margin: auto;
  margin-bottom: 30px;
  width: 130px;
  border-radius: 50%;
  position: relative;
  background-color: azure;
}

.LTST-Circle::after {
  content: "";
  display: block;
  line-height: 0;
  padding-bottom: 100%;
}

.LTST-Circle-Text {
  position: absolute;
  bottom: 37%;
  width: 100%;
  color: black;
  font-size: 150px;
  
}

.LTST-Title{
  font-weight: bold;
  line-height: 35px;
  font-size: 24px;
}

.LTST-Subtitle {
  font-size: 15px;
  color: hsl(0, 0%, 85.3%);
  line-height: 30px;
  max-width: 50vw;
  width: 520px;
}