.WrapperUpgradeOffer {
  background-color: #D5E3FD;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.WrapperUpgradeOffer > :nth-child(1) {
  fill: hsl(120, 100%, 10.6%);
}

.UO-Icon > svg {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #286EF1;
  fill: white;
  font-size: 9px;
  padding: 15px;
}

.WrapperUpgradeOffer div:nth-child(2) {
  flex-grow: 5;
  text-align: left;
  margin-right: 30px;
  margin-left: 30px;
  
  
}

.WrapperUpgradeOffer div:nth-child(2) > p{
  font-weight: 700;
}

.UO-Text span {
  font-size: 15px;
}

.WrapperUpgradeOffer :nth-child(3) {
  width: 101px;
  height: 40px;
  padding: 5px 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: #286EF1;
  color: white;
  font-weight: 700;
  /* outline: 5px black solid; */
  /* margin-left: 80px; */
}

.WrapperUpgradeOffer :nth-child(3):hover {
  opacity: 1;
}


@media screen and (max-width: 1020px) {
  .WrapperUpgradeOffer{
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .WrapperUpgradeOffer div:nth-child(1){
    position: absolute;
    top:5px;
    left:5px;
  }
  
  .UO-Icon{
    margin-bottom: 5px;
  }
  
  .WrapperUpgradeOffer div:nth-child(2){
    text-align: center;
    margin-top:40px;
    width:100%;
    /* padding-top: 40px; */
  }
  
  .WrapperUpgradeOffer button{
   margin-top: 20px; 
  }
  
  
}