*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.26px;
  line-height: 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(220, 53%, 18%);
  font-size: calc(10px + 0.86vmin);
  /* font-size: 18px; */
  color: white;
  padding-left: 17px;
  width: calc(100vw - 17px);
}

@media screen and (min-width: 1058px) {
  body {
      padding-left: 17px;
      width: calc(100vw - 17px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
