.InformationUserConnected {
  /* background-color: hsl(218.5, 79.2%, 36.1%); */
  color: black;
  max-width: 500px;
  width: 47vw;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 10px;
}

.InformationUserConnected div:nth-child(1) {
  /* outline: crimson 1px solid; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.InformationUserConnected div:nth-child(1) > span:nth-child(1) {
  font-weight: 700;
}

.InformationUserConnected div:nth-child(1) > span:nth-child(2) {
  color: grey;
}

.InformationUserConnected div:nth-child(2) {
  display: flex;
  align-items: center;
}

.InformationUserConnected div:nth-child(2) > span {
  color: grey;
  margin-right: 10px;
}

@media screen and (max-width: 710px) {
  .InformationUserConnected {
    width: 55vw;
    height:100%;
  }
}
@media screen and (max-width: 630px) {
  .InformationUserConnected {
    flex-direction: column;
  }
  
  .InformationUserConnected > div:nth-child(2){
    margin-top: 15px;
    
  }
  
}
